PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
REMOVE_BG_API_KEY=your_remove_bg_api_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
